{% load static %}

<html>
    <head>
        <title>Django Girls Blog</title>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Header font import -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <!-- Top banner -->
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-2">

                    <!-- User info panel -->
                    <div class="info-panel">
                        {% if user.is_authenticated %}
                            <p>Hello {{ user.username }}</p>
                            <hr>
                            <p><a href="{% url 'post_list' %}"">Published posts</a></p>
                            <p><a href="{% url 'post_draft_list' %}"">Draft posts</a></p>
                            <p><a href="{% url 'post_new' %}">New post</a></p>
                            <hr>
                            <a href="{% url 'logout' %}">Log out</a>

                        {% else %}
                            <a href="{% url 'login' %}">Log in</a>
                        {% endif %}
                    </div>

                    <!-- Guest user info panel -->
                    <div class="info-panel mt-3 text-muted">
                            To log in as a guest:<br /><br />
                            Username: <strong>Guest</strong><br /><br />
                            Password: <strong>fish1234</strong>
                    </div>

                </div>

                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>

                <div class="col-2"></div>


            </div>
        </div>

    </body>
</html>