{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">

        <h2>{{ post.title }}</h2>

        {% if post.published_date %}
            <div class="date">
                <p>Published: {{ post.published_date }}</p>
            </div>
        {% else %}
            <div class="date">
                <p>Created: {{ post.created_date }}</p>
            </div>
        {% endif %}

        <p>{{ post.text|linebreaksbr }}</p>

        {% if user.is_authenticated %}

            <a class="btn btn-outline-primary mt-3 mr-4" href="{% url 'post_edit' pk=post.pk %}">Edit post</a>
            <a class="btn btn-outline-danger mt-3 mr-4" href="{% url 'post_remove' pk=post.pk %}">Delete post</a>

            {% if not post.published_date %}
                <a class="btn btn-outline-success mt-3 mr-4" href="{% url 'post_publish' pk=post.pk %}">Publish post</a>
            {% endif %}

        {% endif %}

    </div>

    <hr>

    <!-- Comments-->

    <a class="btn btn-outline-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-outline-danger" href="{% url 'comment_remove' pk=comment.pk %}">Remove comment</a>
                        <a class="btn btn-outline-success" href="{% url 'comment_approve' pk=comment.pk %}">Approve comment</a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}

{% endblock %}