{% extends 'blog/base.html' %}

{% block content %}

    <div class="post">

        <h2>{{ post.title }}</h2>

        {% if post.published_date %}
            <div class="date">
                <p>Published: {{ post.published_date }}</p>
            </div>
        {% else %}
            <div class="date">
                <p>Created: {{ post.created_date }}</p>
            </div>
        {% endif %}

        <p>{{ post.text|linebreaksbr }}</p>

        {% if user.is_authenticated %}
            <!-- Publish button -->
            {% if not post.published_date %}
                <a class="btn btn-outline-success mt-1 mr-2 mb-4" href="{% url 'post_publish' pk=post.pk %}">Publish post</a>
            {% endif %}
            <!-- Edit button -->
            <a class="btn btn-outline-primary mt-1 mr-2 mb-4" href="{% url 'post_edit' pk=post.pk %}">Edit post</a>
            <!-- Delete button -->
            <a class="btn btn-outline-danger mt-1 mr-2 mb-4" href="{% url 'post_remove' pk=post.pk %}">Delete post</a>
        {% endif %}

        <!-- Comments-->

        {% if post.published_date %}

            <a class="btn btn-outline-success mt-1 mr-2 mb-4" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

            <div class="comment-block">

                {% for comment in post.comments.all %}

                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="individual-comment">
                                <strong>{{ comment.author }}</strong> - <i>{{ comment.created_date }}</i>
                                {{ comment.text|linebreaks }}
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-outline-success ml-1 mb-4" href="{% url 'comment_approve' pk=comment.pk %}">Approve comment</a>
                                    <a class="btn btn-outline-danger ml-2 mb-4" href="{% url 'comment_remove' pk=comment.pk %}">Remove comment</a>
                                {% endif %}
                        </div>
                    {% endif %}

                {% empty %}

                    <div class="individual-comment">
                        <p>No comments here yet :(</p>
                    </div>
                    
                {% endfor %}

            </div>
        {% endif %}
    </div>
{% endblock %}